{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Game{% endblock %}
{{ block.super }}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static '/gamesite/style.css' %}">
{% endblock %}

{% block header%}
<meta charset="utf-8">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
  /* global $ */
  $(document).ready(function() {
    'use strict';
    $(window).on('message', function(evt) {
      //Note that messages from all origins are accepted
      if (evt.originalEvent.origin == 'http://webcourse.cs.hut.fi'){
      //Get data from sent message
      var data = evt.originalEvent.data;
      //Create a new list item based on the data
      switch (data['messageType']){
        case 'SETTING':
          $('#encoder_iframe').css({"width":data['options']['width'], "height":data['options']['height']});
          break;
          /*the next ones I added just to see if the messages are coming trough,
          SAVE should save the gameState for the player in the Game model (it must be
        created first), LOAD_REQUEST gets an existing save (if there is one) and
        we must send a LOAD message to the game containing the save. SCORE is supposed
        to be saved in the Game models highscore table, and finally ERROR messages are
        sent to the game in case of errors*/
        case 'SCORE':
          var newItem = '\n\t<li>' + data['messageType'] +'<ul><li>'+ data['score'] +'</li></ul></li>';
          $('#actions').prepend(newItem);
          break;
        case 'LOAD_REQUEST':
          var newItem = '\n\t<li>' + data['messageType'] +'<ul><li>'+ data['gameState'] +'</li></ul></li>';
          $('#actions').prepend(newItem);
          var message = {
            messageType: "LOAD", gameState: { playerItems: ["Sword", "Wizard Hat"], score: 506.0 }
          };
          evt.originalEvent.source.postMessage(message, evt.originalEvent.origin);
          break;
        case 'SAVE':
          var newItem = '\n\t<li>' + data['messageType'] +'<ul><li>'+ data['gameState'].score +'</li></ul></li>';
          $('#actions').prepend(newItem);
          break;
      };
    };});
  });
  </script>{% endblock %}

{% block upmenu %}
{% include "gamesite/upmenu.html" %}
{% endblock %}



{% block sidemenu %}
{% include "gamesite/sidemenu.html" %}
{% endblock %}

{% block content %}
<iframe id="encoder_iframe" src="http://webcourse.cs.hut.fi/example_game.html"></iframe>

<ul id="actions">
  </ul>
{% endblock %}
