{% extends "base.html" %}
{% load static %}

{% block title %}Account{% endblock %}
{{ block.super }}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'gamesite/style.css' %}">{% endblock %}

{% block upmenu %}
{% include "gamesite/upmenu.html" %}
{% endblock %}

{% block header %}
<meta charset="utf-8">
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script>
var list = '{{dates}}';
list = list.split('%');
$(document).ready(function() {
  if (list !=''){
for (var i=0; i< list.length;i++){
  lis = list[i].split('|');
  str = "."+lis[0]

  $("li").filter(str).append("<ol>"+lis[1]+"</ol>")
};};});


</script>
{% endblock %}

{% block sidemenu %}
{% include "gamesite/sidemenu.html" %}
{% endblock %}

{% block content %}
<ul>
<li>{{ user.username }}</li>
<li>{{ user.email }}</li>
</ul>


{% if games %}
Games you have uploaded to DB:
   {% for game in games %}
   <ul class=yourgames>

    <li class={{game.websiteURL}}><a class='gameurl' href='/game/{{game.websiteURL}}'>{{ game.title }}</a>: <a href='/game/{{game.websiteURL}}/edit'>Edit</a>, <a href='/game/{{game.websiteURL}}/delete'>Delete</a>
    </li>

   </ul>
   {% endfor %}

 {% else %}
  <p> You have not uploaded any games in DB </p>
 {% endif %}
{% endblock %}
