{% extends "base.html" %}
{% load static %}

{% block title %}Account{% endblock %}
{{ block.super }}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'gamesite/style.css' %}">{% endblock %}

{% block upmenu %}
{% include "gamesite/upmenu.html" %}
{% endblock %}



{% block sidemenu %}
{% include "gamesite/sidemenu.html" %}
{% endblock %}

{% block content %}
<p>Hello, Welcome to the Front Page.</p>



<iframe name="myFrame" src="http://payments.webcourse.niksula.hut.fi/key/" width=70% height=100%>
   Your browser does not support inline frames.
</iframe>
{% endblock %}
