{% extends "base.html" %}
{% load static %}

{% block title %}Delete game{% endblock %}
{{ block.super }}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'gamesite/style.css' %}">{% endblock %}

{% block upmenu %}
{% include "gamesite/upmenu.html" %}
{% endblock %}



{% block sidemenu %}
{% include "gamesite/sidemenu.html" %}
{% endblock %}

{% block content %}
<p>Deleting game: {{title}} <br/>
  WARNING: Deleting a game is permanent.
</p><form method="POST">
    {% csrf_token %}
     <button type="submit" class="button">Delete</button>
</form>

{% endblock %}
