{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}GameShop{% endblock %}
{{ block.super }}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static '/gamesite/style.css' %}">{% endblock %}

{% block upmenu %}
{% include "gamesite/upmenu.html" %}
{% endblock %}

{% block sidemenu %}
{% include "gamesite/sidemenu.html" %}
{% endblock %}

{% block content %}
  <h2>Game Shop</h2>
  {% if all_games %}
	  <ul>
	   {% for game in all_games %}
			<li><a href="/gameshop/{{ game.id}}/">{{ game.title }}</a><li>
	   {% endfor %}
	   </ul>
   {% else %}
    <p> No games in DB </p>
   {% endif %}
{% endblock %}
