{% extends "base.html" %}
{% load static %}

{% block title %}Payment{% endblock %}
{{ block.super }}
{% block style %}<link rel="stylesheet" type="text/css" href="{% static 'gamesite/style.css' %}">{% endblock %}

{% block upmenu %}
{% include "gamesite/upmenu.html" %}
{% endblock %}



{% block sidemenu %}
{% include "gamesite/sidemenu.html" %}
{% endblock %}

{% block content %}
  <h2>Payments</h2><!--
   <form method="post">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Submit" />
	</form>
 -->
  <form action="http://payments.webcourse.niksula.hut.fi/pay/" method="POST">
    	{% csrf_token %}
    <input type="hidden" name="pid" value={{ pid }} />
    <input type="hidden" name="sid" value={{ sid }} />
    <input type="hidden" name="success_url"
            value="http://localhost:8000/payment/success" />
    <input type="hidden" name="cancel_url"
            value="http://localhost:8000/payment/cancel" />
    <input type="hidden" name="error_url"
            value="http://localhost:8000/payment/error" />
    <input type="hidden" name="checksum"
            value={{ checksum }} />

    <label for="id_amount">Amount: {{ amount }}</label>
    <input type="hidden" id="id_amount" name="amount" value={{ amount }} />
    <input type="submit" value="Accept Payment"/>
	<button><a href="http://localhost:8000/payment/payment_cancel">Cancel</a></button>
</form>
<br><br><br>
{% endblock %}
