<ul id="sidemenu">
  <li><a href={{ myviewurlo }}>User Profile {{ myviewo }}</a></li>
   <li><a href={{ example_game }}>Game Shop{{ example_game }}</a></li>

   <li><a href={{ example_game }}>Adventure{{ example_game }}</a></li>

   <li><a href={{ example_game }}>ARPG{{ example_game }}</a></li>

   <li><a href={{ example_game }}>FPS{{ example_game }}</a></li>

   <li><a href={{ example_game }}>MMO{{ example_game }}</a></li>


  {% for i in "xxxxxxxxxx" %}
  <li>menu template</li>
  {% endfor %}
</ul>
