<ul id="sidemenu">

   <li><a href={% url 'gameshop' %}>All games</a></li>
   <li><a href='/account'>Profile</a></li>
   <li><a href={% url 'addgame' %}>Add Game</a></li>

   <!--
   <li><a href={{ example_game }}>Adventure{{ example_game }}</a></li>

   <li><a href={{ example_game }}>ARPG{{ example_game }}</a></li>

   <li><a href={{ example_game }}>FPS{{ example_game }}</a></li>

   <li><a href={{ example_game }}>MMO{{ example_game }}</a></li>
   <li><a href={{ registerurl }}>{{ register }}</a></li>

  {% for i in "xxxxxxxxxx" %}
  <li>menu template</li>
  {% endfor %} -->
</ul>
